node_modules
dist
.git
.gitignore
.env
.env.*
*.log
logs
coverage
test-*
.DS_Store
.vscode
.idea
*.swp
*.swo
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.nuxt
.cache
build
dist
out
.turbo
.vercel
